/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
.orangered{
    color: #FF8F00;
}

header,
main{
    background-color: #F8F9FA;
}
/* 
    HEADER
*/
header{
    height: 70px;
}
header > .row{
    align-items: center;
}
img{
    max-width: 100%;
}
.bg-light-grey{
    background-color: #E5E5E5;
}
/* 
    ASIDE
*/
aside{
    background-image: url(../img/sidebar-bg.png);
    height: calc(100vh - 70px);
    background-color: #051E34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* HEADER MAIN */
.bg-bluette{
    background-color: #165BBA;
}

.plus{
    
    border: solid 1px white;
}
